@model GrowTree.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link rel="stylesheet" href="~/css/auth.css" />

<div class="auth-container">

    <div class="auth-card">

        <h2 class="auth-title">Login</h2>

        <form asp-action="Login" method="post">
            <label>Email</label>
            <input asp-for="Email"
                   class="form-control"
                   placeholder="Email" />
            <label>Passcode</label>
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   placeholder="Password" />

            <button type="submit"
                    class="auth-btn">
                Login
            </button>

        </form>

    </div>

</div>
