@{
    Layout = "_PublicLayout";
}


@model GrowTree.Web.Models.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">

    <label>Full Name</label><br />
    <input asp-for="FullName" /><br />
    <span asp-validation-for="FullName"></span><br />

    <label>Email</label><br />
    <input asp-for="Email" /><br />
    <span asp-validation-for="Email"></span><br />

    <label>Mobile</label><br />
    <input asp-for="Mobile" /><br /><br />

    <label>Password</label><br />
    <input asp-for="Password" type="password" /><br />


    <label>Confirm Password</label><br />
    <input asp-for="ConfirmPassword" type="password" /><br /><br />


    <label>TransactionPin</label><br />
    <input asp-for="TransactionPin" type="password" /><br /><br />

    <label>Confirm TransactionPin</label><br />
    <input asp-for="ConfirmTransactionPin" type="password" /><br /><br />

    <label>Sponsor Referral Code</label><br />
    <input asp-for="SponsorReferralCode" /><br /><br />

    <button type="submit">Register</button>

</form>

@if (ViewBag.Success != null)
{
    <p style="color:green">@ViewBag.Success</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
  