html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder { 
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    margin: 0;
    font-family: Arial;
}

.app-container {
    display: flex;
}
.sidebar {
    width: 220px;
    background: #153d0a;
    color: white;
    min-height: 100vh;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .sidebar-menu li {
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }

        .sidebar-menu li a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 18px;
            color: white;
            text-decoration: none;
            font-size: 14px;
        }

            .sidebar-menu li a:hover {
                background: #2f7a1f;
            }

/* SUBMENU */
.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    background: #0f2c05;
}

    .submenu li a {
        font-size: 13px;
        padding: 10px 18px;
    }

/* OPEN SUBMENU */
.has-submenu.active .submenu {
    display: block;
}

/* Arrow animation */
.dropdown-icon {
    font-size: 12px;
    transition: 0.3s;
}

.has-submenu.active .dropdown-icon {
    transform: rotate(180deg);
}

.package-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.package-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
}

.btn-activate {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
.package-container {
    display: flex;
    gap: 30px;
}

.card {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
